.header__title {
    padding: 96px 610px 77px 160px;
    width: 670px;
    height: 64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: #212429;
}

.main {
    width: 1440px;
    height: 1036px;
    background: #F9FAFC;
}

.footer__title {
    padding: 71px 647px 0px 682px;
    width: 111px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    color: #212429;
}

.footer__content {
    padding: 32px 383px 136px 417px;
    width: 640px;
    height: 96px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #212429;
}